/* AdminFileManagement.css */
.admin-file-management {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #fff;
    border-collapse: collapse;
}

.table-dark {
    background-color: #343a40;
    color: #fff;
}

.table-dark th,
.table-dark td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}

.table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.button-group {
    display: flex;
    gap: 8px; /* Reduced space between buttons */
    justify-content: center; /* Center buttons horizontally */
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px; /* Reduced font size */
    padding: 0.6em 1em; /* Adjusted padding for smaller button */
    color: white;
    background: #ad5389;
    background: linear-gradient(
        0deg,
        rgba(77, 54, 208, 1) 0%,
        rgba(132, 116, 254, 1) 100%
    );
    border: none;
    box-shadow: 0 0.5em 1em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
    margin-right: 8px; /* Reduced space between buttons */
    text-align: center;
    line-height: 1rem; /* Adjusted line-height for smaller button */
}

.cssbuttons-io-button svg {
    margin-right: 5px; /* Reduced space between icon and text */
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

.delete-btn {
    background: #dc3545;
    background: linear-gradient(
        0deg,
        rgba(220, 53, 69, 1) 0%,
        rgba(255, 77, 77, 1) 100%
    );
}

.delete-btn:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #c82333;
}

.delete-btn:active {
    box-shadow: 0 0.3em 1em -0.5em #c82333;
}
.search-bar-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; /* Adjust spacing as needed */
}
