/* src/components/ChatbotComponent.css */
.chatbot-container {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure the chatbot is on top */
}

.chatbot-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #568bed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  width: fit-content;
}

.chatbot-message.me {
  align-self: flex-start;
  background-color: #007bff;
  color: #fff;
  text-align: right;
  
}

.chatbot-message.bot {
  align-self: flex-end;
  background-color: #f1f1f1;
  color: #000;
  text-align: left;
}

.chatbot-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: right;
}

.chatbot-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chatbot-input button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .chatbot-container {
    width: 80%;
    height: 50%;
    right: 10%;
    bottom: 10%;
  }
}

@media (max-width: 480px) {
  .chatbot-container {
    width: 90%;
    height: 60%;
    right: 5%;
    bottom: 5%;
  }

  .chatbot-header {
    font-size: 14px;
  }

  .chatbot-input input,
  .chatbot-input button {
    font-size: 14px;
  }
}

