/* src/components/ChatbotToggleButton.css */
.chatbot-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s, height 0.3s, bottom 0.3s, right 0.3s;
    z-index: 1001; /* Ensure the toggle button is on top */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chatbot-toggle-button img {
    width: 150%;
    height: 135%;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .chatbot-toggle-button {
      width: 40px;
      height: 40px;
      font-size: 20px;
      bottom: 15px;
      right: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .chatbot-toggle-button {
      width: 35px;
      height: 35px;
      font-size: 18px;
      bottom: 10px;
      right: 10px;
    }
  }
  .typing-indicator {
    font-style: times normal;
    color: gray;
  }
  