/* PremiumPage.css */
.premium-page-body {
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #514B64;
    min-height: 100vh;
  }
  
  .premium-page .rounded-lg {
    border-radius: 1rem !important;
  }
  
  .premium-page .premium-text-small {
    font-size: 0.9rem !important;
  }
  
  .premium-page .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
  
  .premium-page .premium-text-uppercase {
    letter-spacing: 0.2em;
  }
  