<<<<<<< HEAD
/* Auth.module.css */
=======
Auth.module.css
>>>>>>> 89071a74a280a0d5c4ccc07b1f71c821e349838f

body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-body {
  padding: 2rem;
}

/* h2 {
  color: #007bff;
  margin-bottom: 1.5rem;
} */

/* .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
} */

/* a {
  color: #007bff;
<<<<<<< HEAD
} */
/* 
a:hover {
  color: #0056b3;
} */
=======
}
a:hover {
  color: #0056b3;
} 
>>>>>>> 89071a74a280a0d5c4ccc07b1f71c821e349838f

/* .form-group label {
  color: #495057;
}
