
.navbarCustom {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #007bff; 
}

.welcomeText {
  font-size: 1.5rem;
  color: #ffffff;
}


.btnDanger {
  background-color: #dc3545;
  border-radius: 7px;
  margin: 10px;
  padding: 7px;

}


.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 15px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.modalContent {
  border-radius: 8px;
}

.modalHeader {
  background-color: #007bff;
  color: #fff;
}

.modalFooter .btnSecondary {
  background-color: #6c757d;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modalBody {
  padding: 20px;
}

.formLabel {
  font-weight: bold;
}

.formControl {
  width: 100%;
}

.welcomeText {
  font-size: 1.2em;
  font-weight: bold;
}

.tipContainer {
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.btn-primary:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
