
.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    min-height: 100vh;
}
body {
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Blue gradient */
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    animation: gradient 5s ease infinite; /* Adding background gradient animation */
}


.card-login {
    border-radius: 15px;
    padding: 2rem;
    background: #ffffff;
}

.form-control {
    border: 1px solid #2d2c2c;
}

.form-control:focus {
    border-color: #0b24b2;
    box-shadow: none;
}

.btn-primary {
    background-color: #5780f0;
    border: none;
}

.btn-primary:hover {
    background-color: #5433ba;
}

.text-light {
    color: #fff !important;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
}
